.App {
  font-family: sans-serif;
  text-align: center;
}
@keyframes muneco-entrada {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}